/*.home .menuHome{
    text-decoration: none;
    justify-content: center;
    margin: 20px 10px 0px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 55px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}*/
.logo{
    height: 130px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    background-color: #103A8F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items-logo{
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.items-logo2{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.items-logo2 a{
    text-decoration: none;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: white;
}

.espaco{
    width: 469px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.espaco input{
    width: 300px;
    height: 40px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}

.menu{
    background-color: #316ED4;
    height: 73px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu a{
    text-decoration: none;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: white; 
}

body{
    background-color: white;
}
.footer{
    background-color: #103A8F;
}
.footer .coluna-footer-itens-lista{
    list-style: none;
    list-style-type: none;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}
.footer .coluna-footer-itens-lista li{
    padding: 15px 0px;
}
.footer .coluna-footer-itens{
    color: white;
    text-align: left;
    width: 205px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.items-footer{
    width: 1463px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}
.banner-home{
    max-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-home img{
    width: 1463px;
}
.novidades-mania-background{
    height: 100px;
    max-width: 1463px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #103A8F;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0 auto;
}
.title-novidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.title-novidades h2{
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}
.title-novidades p{
    margin: 0px;
    font-size: 16px;
    width: 303.17px;
}
.form-novidades{
    width: 850px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-novidades #name{
    width: 300px;
    height: 40px;
    font-size: 15px;
    color: black;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form-novidades #email{
    width: 300px;
    height: 40px;
    font-size: 15px;
    color: black;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button-novidades{
    width: 190px;
    height: 45px;
    font-size: 15px;
    color: white;
    background: #495057;
    border-style: none;
    font-weight: bold;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.categorias-de-produtos{
    display: flex;
    justify-content: space-between;
    max-width: 1463px;
    margin: 10px auto;
}
.restante{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.restante2{
    width: 963px;
    max-width: 963px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px){
    .categorias-de-produtos{
        max-width: 1024px;
    }
    .restante{
       width: 100%;
    }
    .restante2{
        max-width: 673px;
    }
    .banner-home{
        max-width: 1015px;
        max-height: 446px;
    }
    #console{
        
    }
    #hardware{
        width: 673px;
        height: 251px;
    }
    #perifericos{
        width: 322px;
        height: 251px;
    }
    #pc-gamer{
        width: 322px;
        height: 251px;
    }
}
